/*background: #F8F5F5; de la page

des div de presentations
width: 1276px;
height: 91px;
gap: 0px;
opacity: 0px;

pour la barre verte(le hover)
background: #27AE60;

pour les ecrits dans la naviagation
font-family: Neometric;
font-size: 16px;
font-weight: 400;
line-height: 23.12px;
text-align: left;

infinite solutions
font-family: Neometric;
font-size: 100px;
font-weight: 600;
line-height: 113.52px;
letter-spacing: 0.02em;
text-align: left;

background: #0210334A;

couleur du point
background: #27AE60;
width: 20px;
height: 20px;
top: 378px;
left: 798px;
gap: 0px;
opacity: 0px;


les differentes div
background: #FEFCFC;

width: Hug (420px)px;
height: Hug (297px)px;
top: 497px;
left: 191px;
padding: 30px 40px 30px 40px;
gap: 20px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;

les petites images
width: 46px;
height: 46px;
padding: 1.29px 0.09px 1.44px 0.01px;
gap: 0px;
opacity: 0px;


les paragraphes
width: 340px;
height: 59px;
gap: 0px;
opacity: 0px;
font-family: Neometric;
font-size: 12px;
font-weight: 400;
line-height: 14.76px;
letter-spacing: 0.02em;
text-align: left;

les boutons
width: Hug (132px)px;
height: Hug (45px)px;
padding: 14px 20px 14px 20px;
gap: 10px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;




footer
couleur fond
width: 1280px;
height: 725px;
gap: 0px;
opacity: 0px;
background: #021033;

texte en bas du logo
font-family: Neometric;
font-size: 15px;
font-weight: 400;
line-height: 21.68px;
text-align: left;



div de texte dans le footer
width: 585px;
height: 306px;
top: 80px;
left: 538px;
gap: 0px;
opacity: 0px;

background: #05A52E; verte
background: #F2F2F280; lautre couleu texte




*/

